# Node
node_modules/
dist/
build/
coverage/

# Environment Variables
#.env
#.env.*

# Logs
*.log

# OS
.DS_Store

# Firebase
#.firebase/

# React Native & Expo
#.expo/
#.expo-shared/
#android/
#ios/
#web-build/
#*.keystore

# Editor & IDE
.vscode/
.idea/
*.iml
*.swp

# Jest test coverage
coverage/
test-results/

# Misc
*.local
